<% include common/header.html %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <% if(list.length !==0 ) { %>
            <table class="table table-bordered table-hover blog-back">
                <tr>
                    <td>发表日期</td>
                    <td>作者</td>
                    <td>标题</td>
                    <td>操作</td>
                </tr>
                <% list.forEach(function(list){ %>
                <tr>
                    <td><%=list.time%></td>
                    <td><%=list.author.name%></td>
                    <td><a href="/view/<%=list._id%>"><%=list.title%></a></td>
                    <td>
                        <a href="/list/<%=list._id%>/editor"><i class="glyphicon glyphicon-edit"></i>修改</a>
                        <a id="del" href="/list/<%=list._id%>" onClick="return dagu.confirmAct();"><i class="glyphicon glyphicon-trash"></i>删除</a>
                    </td>
                </tr>
                <% }); %>
            </table>
            <% }else{ %>
            <h4>你还没发表过文章</h4>
            <% } %>
        </div>
    </div>
</div>

<% include common/footer.html %>