<% include common/header.html %>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered blog-back">
                <tr>
                    <td>_id</td>
                    <td><%=user._id%></td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td><%=user.name%></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><%=user.password%></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<% include common/footer.html %>