<% include common/header.html %>
<style>
  .chat-content{
    height: 400px;
    padding: 20px;
    background: #202020;
    overflow: auto;
    color: #fff;
  }
  .chatItem{
    height: 75px;
  }
  .chatBtn{
    margin-top: 10px;
  }
</style>

<form class="container">
  <div>
    <span class="onlineCount"></span>
    <span class="onlineUser"></span>
  </div>
  <div class="chat-content"></div>
  <div class="chat-item">
    <textarea class="form-control chatItem" name="chatItem"></textarea>
    <button type="button" class="btn btn-success pull-right chatBtn">发送</button>
  </div>
</form>
<script src="/js/socket.io.js"></script>

<script>
  console.log($('.user-name').text());
  var socket = io.connect();
  var userName = $('.user-name').text();
  // 发送用户名
  socket.emit('userIn',userName);

  $(".chatBtn").on('click',function () {
    if($.trim($(".chatItem").val()) != ""){
      socket.emit('send', $(".chatItem").val(), userName);   
      $(".chatItem").val("") ;
    }else{
      alert("请输入内容");
    }
  });

  socket.on('tellUserIn',function(userName,userList){
    $(".chat-content").append("<p>"+userName+"上线了....</p>");
    var currentUsers = Array.from(new Set(userList));
    var UsersLength = currentUsers.length;
    $(".onlineCount").text( `聊天室在线人数: ${UsersLength}   `);
    $(".onlineUser").text( `在线用户: ${currentUsers}`);
  });
  
  socket.on('receive',function(chatContent,userName){
    $(".chat-content").append("<p>"+ userName +" : "+ chatContent +"</p>");
  });

  socket.on('userOut',function(userName){
    $(".chat-content").append("<p>"+userName+"离开了聊天室</p>");
  })
 
</script>

<% include common/footer.html %>